#root {
  margin: 0 ;
  text-align: center;
  width: 100%;
}

body {
  margin-top: 64px; /* Adjust this value based on the height of your AppBar */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.listElement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 20px;
}

.listElement h2 {
margin: 0 0 5px;
}

.movieBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding:20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0);
  background-color: #f2eeee; /* Light background color */
  border-radius: 10px; /* Rounded corners */
  margin: 15px;
  color: black;
  text-align: left;
}

.navbar {
  width: 100%;
  background-color: bisque;
  margin-bottom: 2rem; /* Add margin at the bottom to separate it from the rest of the content */
}

.navbar .MuiToolbar-root {
  justify-content: space-between; /* Space items out evenly */
}


.buttonContainer {
  display: flex;
  gap: 10px; /* Adjust this value as needed */
}

.formElement {
  display: flex;
  justify-content: center;
}

.formBox{
  justify-content: center;
  text-align: center;
  margin: 20px;
  gap:16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:30px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0);
  background-color: #f2eeee; /* Light background color */
  border-radius: 10px; /* Rounded corners */
  color: black;
  text-align: left;
}